body{
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popup{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 25px;

  background-color: rgba(0,0,0, .3);

  display: none;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
  .popup.on{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  .popup__content{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgba(40,43,49, .08);
    position: relative;
  }
  .popup__close-button{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 6px 12px 0 rgba(40,43,49, .08);
  }
    .popup__close-button img{
      display: block;
      width: 15px;
    }
  @media(max-width: 767px){
    .popup video{
      width: 100%;
      height: auto;
    }
  }

main.mainpage-wrapper{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  background-color: #4639a9;
}

/* bg's */
.section-welcome,
.section-video,
.section-subscribe{
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.section-welcome{ 
  background-image: url('images/section-welcome-bg.jpg');
}
.section-video{
  background-image: url('images/section-video-bg.jpg');
}
.section-subscribe{
  background-image: url('images/section-subscribe-bg.jpg');
}

/* logo */ 
.logo{
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

/* Heading */ 
.heading{
  margin: 0;
  color: #fff;
}
  @media(min-width: 506px){
    .heading{
      font-size: 35px;
      line-height: 50px;
    }
  }
  @media(max-width: 505px){
    .heading{
      font-size: 18px;
      line-height: 25px;
    }
  }


/* 
  Header
*/ 
header{
  padding-top: 25px;
  padding-bottom: 25px;
}
  header .logo{
    display: block;
    margin-top: 12px;
    float: left;
  }
  header .log-in-button{
    display: block;
    
    width: 130px;
    float: right;
    height: 40px;
    line-height: 40px;
    
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #4538a8;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 12px 0 rgba(40,43,49, .08);
    
    -webkit-transition: all .25s;
    transition: all .25s;
  }
    header .log-in-button:hover{
      background-color: #4538a8;
      color: #fff;
    }
  @media(min-width: 768px){
    header .log-in-button{
      margin-right: 45px;
    }
  }

/*
  Footer
*/ 
footer{
  background-color: #4538a8;
  color: #fff;
}
  footer .footer-content-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    min-height: 100px;
  }
    @media(max-width: 505px){
      footer .footer-content-wrapper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

  footer .copyright{
    font-size: 11px;
  }
    @media(max-width: 505px){
      footer .copyright{
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  footer .socials-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    border-radius: 5px;
    height: 40px;
    border: 1px solid #6c61c4;
    overflow: hidden;
  }
    footer .socials-wrapper a{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      width: 38px;
      height: 38px;
      text-decoration: none;

      -webkit-transition: all .25s;
      transition: all .25s;
    }
      footer .socials-wrapper a:first-child{
        border-right: 1px solid #6c61c4;
      }
      footer .socials-wrapper a:hover{
        background-color: rgba(0,0,0, .1);
      }
      footer .socials-wrapper a:hover img{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    footer .socials-wrapper img{
      display: block;
      width: 16px;

      -webkit-transition: all .25s;
      transition: all .25s;
    }

/* 
  section welcome 
*/
.section-welcome{}
  .section-welcome .heading{
    margin: 22px 0 30px;
  }
  .section-welcome__content .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .section-welcome__right img{
    display: block;
    max-width: 100%;
    height: auto;
  }

  @media(max-width: 767px){
    .section-welcome__left{
      text-align: center;
      padding-bottom: 25px;
    }
    .section-welcome__right{
      display: none;
    }
  }

/*
  section video
*/ 
.section-video{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  height: 515px;
}

/* section-video__button */
/* https://github.com/codrops/ClickEffects/blob/master/css/component.css */
.section-video__button{
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  position: relative;
  margin-top: 55px;
  padding: 0;
  border: none;
  color: #286aab;
  font-size: 1.4em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  -webkit-transition: all .5s;
  transition: all .5s;
}
  .section-video__button svg{
    display: block;
    width: 28px;
    margin: 20px 0 0 24px;
  }
  .section-video__button:hover{
    -webkit-transform: scale(.9);
    transform: scale(.9);

    background-color: #6c61c4;
  }
  .section-video__button #icon-play{
    fill: #6c61c4;
  }
  .section-video__button:hover #icon-play{
    fill: #fff;
  }
  .section-video__button:hover::before,
  .section-video__button:hover::after{
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-duration: 1s;
  }

  .section-video__button::before,
  .section-video__button::after{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -65px 0 0 -65px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
  }

  .section-video__button::before{
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);

    -webkit-animation: anim-effect-ivana-1 2.5s infinite;
    animation: anim-effect-ivana-1 2.5s infinite;
  }
  .section-video__button::after{
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
    -webkit-animation: anim-effect-ivana-2 2.5s infinite;
    animation: anim-effect-ivana-2 2.5s infinite;
  }

  @-webkit-keyframes anim-effect-ivana-1 {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @keyframes anim-effect-ivana-1 {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @-webkit-keyframes anim-effect-ivana-2 {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    50%, 100% {
      opacity: 0;
      -webkit-transform: scale3d(1.2, 1.2, 1);
      transform: scale3d(1.2, 1.2, 1);
    }
  }

  @keyframes anim-effect-ivana-2 {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    50%, 100% {
      opacity: 0;
      -webkit-transform: scale3d(1.2, 1.2, 1);
      transform: scale3d(1.2, 1.2, 1);
    }
  }

/*
  section subscribe
*/ 
.section-subscribe{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  min-height: 280px;
}
  .section-subscribe-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
    @media(max-width: 767px){
      .section-subscribe-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        text-align: center;
      }
    }
  .section-subscribe__text{
    
    color: #fff;
  }
    @media(max-width: 505px){
      .section-subscribe__text{
        font-size: 14px;
        line-height: 21px;
      }
    }
    @media(min-width: 506px){
      .section-subscribe__text{
        font-size: 16px;
        line-height: 30px;
      }
    }
    @media(max-width: 767px){
      .section-subscribe__text{
        margin-bottom: 25px;
      }
    }
    @media(min-width: 768px){
      .section-subscribe__text{
        margin-top: 25px;
      }
    }
    

.subscribe-form{

}
.form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
  @media(max-width: 505px){
    .form{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
.form .controller-style{
  border: 0;
  outline: 0;
  height: 50px;
  line-height: 50px;
  
  font-size: 17px;
  text-decoration: none;
  color: #4538a8;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 12px 0 rgba(40,43,49, .08);
}
  .form .controller-style-input{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    
    padding-left: 20px;
    color: #282b31;
  }
  .form .controller-style-button{
    width: 170px;
    
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    
    -webkit-transition: all .25s;
    transition: all .25s;
  }
    .form .controller-style-button:hover{
      color: #fff;
      background-color: #4538a8;
    }
    @media(max-width: 505px){
      .form .controller-style-button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    @media(min-width: 506px){
      .form .controller-style-button{
        margin-left: 20px;
      }
    }

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}