body{
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.popup{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  background-color: rgba(0,0,0, .3);

  display: none;
  align-items: center;
  justify-content: center;

  animation-name: fadeOut;
}
  .popup.on{
    display: flex;

    animation-name: fadeIn;
  }
  .popup__content{
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgba(40,43,49, .08);
    position: relative;
  }
  .popup__close-button{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 6px 12px 0 rgba(40,43,49, .08);
  }
    .popup__close-button img{
      display: block;
      width: 15px;
    }

main.mainpage-wrapper{
  flex-grow: 1;
  background-color: #4639a9;
}

/* bg's */
.section-welcome,
.section-video,
.section-subscribe{
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.section-welcome{ 
  background-image: url('images/section-welcome-bg.jpg');
}
.section-video{
  background-image: url('images/section-video-bg.jpg');
}
.section-subscribe{
  background-image: url('images/section-subscribe-bg.jpg');
}

/* logo */ 
.logo{
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

/* Heading */ 
.heading{
  margin: 0;
  font-size: 35px;
  line-height: 50px;
  color: #fff;
}

/* 
  Header
*/ 
header{
  padding-top: 25px;
  padding-bottom: 25px;
}
  header .logo{
    display: block;
    margin-top: 12px;
    float: left;
  }
  header .log-in-button{
    display: block;
    margin-right: 45px;
    width: 130px;
    float: right;
    height: 40px;
    line-height: 40px;
    
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #4538a8;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 12px 0 rgba(40,43,49, .08);
  }

/*
  Footer
*/ 
footer{
  background-color: #4538a8;
  color: #fff;
}
  footer .footer-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 100px;
  }

  footer .copyright{
    font-size: 11px;
  }
  footer .socials-wrapper{
    display: flex;
    border-radius: 5px;
    height: 40px;
    border: 1px solid #6c61c4;
    overflow: hidden;
  }
    footer .socials-wrapper a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      text-decoration: none;
      transition: all .25s;
    }
      footer .socials-wrapper a:first-child{
        border-right: 1px solid #6c61c4;
      }
      footer .socials-wrapper a:hover{
        background-color: rgba(0,0,0, .1);
      }
      footer .socials-wrapper a:hover img{
        transform: scale(1.1);
      }
    footer .socials-wrapper img{
      display: block;
      width: 16px;

      transition: all .25s;
    }

/* 
  section welcome 
*/
.section-welcome{}
  .section-welcome .heading{
    margin: 22px 0 30px;
  }
  .section-welcome__content .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section-welcome__right img{
    display: block;
    max-width: 100%;
    height: auto;
  }

/*
  section video
*/ 
.section-video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 515px;
}


/* section-video__button */
/* https://github.com/codrops/ClickEffects/blob/master/css/component.css */
.section-video__button{
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  position: relative;
  margin-top: 55px;
  padding: 0;
  border: none;
  color: #286aab;
  font-size: 1.4em;
  overflow: visible;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  transition: all .5s;
}
  .section-video__button img{
    display: block;
    width: 28px;
    margin: 20px 0 0 24px;
  }
  .section-video__button:hover{
    transform:scale(.9);
  }
  .section-video__button:hover::before,
  .section-video__button:hover::after{
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-duration: 1s;
  }

  .section-video__button::before,
  .section-video__button::after{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -65px 0 0 -65px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
  }

  .section-video__button::before{
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);

    -webkit-animation: anim-effect-ivana-1 2.5s infinite;
    animation: anim-effect-ivana-1 2.5s infinite;
  }
  .section-video__button::after{
    box-shadow: 0 0 0 2px rgba(255,255,255,0.5);
    -webkit-animation: anim-effect-ivana-2 2.5s infinite;
    animation: anim-effect-ivana-2 2.5s infinite;
  }

  @-webkit-keyframes anim-effect-ivana-1 {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @keyframes anim-effect-ivana-1 {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale3d(1.1, 1.1, 1);
      transform: scale3d(1.1, 1.1, 1);
    }
  }

  @-webkit-keyframes anim-effect-ivana-2 {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    50%, 100% {
      opacity: 0;
      -webkit-transform: scale3d(1.2, 1.2, 1);
      transform: scale3d(1.2, 1.2, 1);
    }
  }

  @keyframes anim-effect-ivana-2 {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
    50%, 100% {
      opacity: 0;
      -webkit-transform: scale3d(1.2, 1.2, 1);
      transform: scale3d(1.2, 1.2, 1);
    }
  }

/*
  section subscribe
*/ 
.section-subscribe{
  display: flex;
  align-items: center;
  min-height: 280px;
}
  .section-subscribe-content{
    display: flex;
    align-items: center;
  }
  .section-subscribe__text{
    margin-top: 25px;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
  }

.subscribe-form{

}
.form{
  display: flex;
}
.form .controller-style{
  border: 0;
  outline: 0;
  height: 50px;
  line-height: 50px;
  
  font-size: 17px;
  text-decoration: none;
  color: #4538a8;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 12px 0 rgba(40,43,49, .08);
}
  .form .controller-style-input{
    flex-grow: 1;
    padding-left: 20px;
    color: #282b31;
  }
  .form .controller-style-button{
    width: 170px;
    margin-left: 20px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}